In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
#preprocessing
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

KeyError: "['RowNumber', 'CustomerId', 'Surname'] not found in axis"

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
#encode categorical value
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
##one hot encode geographic column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [12]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [9]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [15]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [16]:
#combine one hot encoder columns with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [18]:
## Save the encoders and scaler

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [75]:
##divide the dataset into independent and dependent features

X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

##Scale the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [138]:
import pickle
from sklearn.preprocessing import StandardScaler

# Assuming scaler is your StandardScaler object
scaler = StandardScaler()
# Fit scaler on data
scaler.fit(X_train)

# Save scaler to a file
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# ANN IMPLEMENTATION

In [139]:
import tensorflow as tf

In [140]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [141]:
## Build our ANN model
model=Sequential([
     Dense(64,activation='relu',input_shape=(X_train.shape[1],)),##hl1 with input layer
     Dense(32,activation='relu'),#hl2 
     Dense(1,activation='sigmoid')#output layer
])

In [142]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [143]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.BinaryCrossentropy()
loss

In [144]:
##compiling the model
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [145]:
##set up the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [146]:
##set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [147]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4475 - accuracy: 0.8055 - val_loss: 0.3861 - val_accuracy: 0.8325
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3754 - accuracy: 0.8465 - val_loss: 0.3510 - val_accuracy: 0.8540
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8560 - val_loss: 0.3444 - val_accuracy: 0.8590
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8568 - val_loss: 0.3474 - val_accuracy: 0.8570
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8602 - val_loss: 0.3485 - val_accuracy: 0.8570
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8618 - val_loss: 0.3385 - val_accuracy: 0.8595
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8656 - val_loss: 0.3436 - val_accuracy: 0.8585
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3285 - accuracy: 0.8659 - val_loss: 0.3424 - val_accuracy: 0.8575
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3256 - accuracy: 0.8677 - val_loss: 0.3423 - val_accuracy: 0.8620
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3242 - accuracy: 0.8655 - val_loss: 0.3387 - val_accuracy: 0.8585
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3214 - accuracy: 0.8698 - val_loss: 0.3363 - val_accuracy: 0.8635
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3195 - accuracy: 0.8695 - val_loss: 0.3383 - val_accuracy: 0.8600
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3175 - accuracy: 0.8668 - val_loss: 0.3367 - val_accuracy: 0.8655
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3162 - accuracy: 0.8681 - val_loss: 0.3377 - val_accuracy: 0.8635
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3143 - accuracy: 0.8691 - val_loss: 0.3408 - val_accuracy: 0.8600
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3138 - accuracy: 0.8709 - val_loss: 0.3384 - val_accuracy: 0.8645
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3120 - accuracy: 0.8723 - val_loss: 0.3416 - val_accuracy: 0.8630
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3102 - accuracy: 0.8725 - val_loss: 0.3450 - val_accuracy: 0.8580
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3074 - accuracy: 0.8734 - val_loss: 0.3413 - val_accuracy: 0.8595
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3092 - accuracy: 0.8705 - val_loss: 0.3432 - val_accuracy: 0.8585
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3065 - accuracy: 0.8744 - val_loss: 0.3457 - val_accuracy: 0.8535

In [148]:
model.save('model.h5')

d:\ml_work\mlproject2\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [149]:
##Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [150]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 22416), started 4:22:38 ago. (Use '!kill 22416' to kill it.)

In [151]:
## load the ann train model
from tensorflow.keras.models import load_model
model=load_model('model.h5')

##load the encoder and scaler
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [152]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [153]:
geo_encoded=label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

d:\ml_work\mlproject2\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [154]:
input_df1=pd.DataFrame([input_data])
input_df1

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [155]:
# input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)
# input_data

In [156]:
##encode categorical variables
input_df1['Gender']=label_encoder_gender.transform(input_df1['Gender'])
input_df1

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [157]:
##concatenation with one hot encoded 
input_df1=pd.concat([input_df1.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df1

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [158]:
input_df1

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [159]:
input_scaled=scaler.transform(input_df1)
input_scaled

d:\ml_work\mlproject2\venv\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

array([[6.00000000e+02, 1.00000000e+00, 4.00000000e+01, 3.00000000e+00,
        6.00000000e+04, 2.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        5.00000000e+04, 1.00000000e+00, 4.26325641e-17, 7.19424520e-17]])

In [160]:
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 52ms/step

array([[0.]], dtype=float32)

In [161]:
prediction_proba=prediction[0][0]

In [162]:
if prediction_proba>0.5:
    print('The Customer is likely to churn')
else:
    print('the customer id not likely to churn')

the customer id not likely to churn